import React from 'react';
// import { } from '@mui/material';
// import { Component } from './{{ name }}.style';

export interface {{name}}Props {}

const {{name}}: React.FC<{{name}}Props> = () => {
    return (
        <div>
            <div>{{name}}</div>
        </div>
    );
}

export default {{name}};